html {
    padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
    width: 90vw;
    margin-top: 30px;
}

dt {
    font-weight: bold;
}

dt:after {
    content: ":";
}

h1, h2 {
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #00a3af;
}
h1:first-child {
    margin-top: 0px;
}

div.profile-container {
    width: 600px;
    display: flex;
    flex-flow: colum wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

div.toy-scopy-gif-container {
    height: 250px;
    height: 250px;
}

img {
  border: 5px solid #555;
}
