html {
    padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
    width: 90vw;
    margin-top: 30px;
    margin-bottom: 10px;
}

dt {
    font-weight: bold;
}

dt:after {
    content: ":";
}

h1, h2 {
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #00a3af;
}

h1 {
    margin-top: 0px;
}

h3 {
    margin-top: 10px;
}

div.profile-container {
    width: 600px;
    display: flex;
    flex-flow: colum wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

div.projects-container {
    width: 100vw;
    display: flex;
    flex-flow: colum wrap;
    margin-bottom: 20px;
}

div.projects-item {
    max-width: 30vw;
}

div.gif-container {
    margin-top: 20px;
    height: 350px;
    width: 350px;
}

strong.emphasize-words {
    color: #00a3af;
}

img {
  border: 5px solid #555;
}
